* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  background-color: #f7ec8d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-container {
  display: block;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  padding: 20px;
}

.login-container {
  background-color: #f4f8f9;
  border-radius: 15px;
  padding: 20px;
  width: 320px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.result-container {
  margin-top: 20px;
  background-color: #f4f8f9;
  border-radius: 15px;
  padding: 20px;
  width: 320px;
  display: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.result-container.show {
  display: block;
}

.header {
  margin-bottom: 20px;
  position: relative;
}

#userNameDisplay {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"],
input[type="password"] {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; 
}

.password-container{
  position: relative;
  width: 100%;
}

.toggle-password {
  position: absolute; 
  right: 10px;
  top: 50%;
  transform: translateY(-50%); 
  cursor: pointer;
  color: #e61364; 
  margin-left: 10px;
}

.toggle-password:hover {
  color: #fd012b; /* สีเมื่อ hover เมาส์ */
}

.dropdown-container {
  text-align: left;
  margin-top: 10px;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #f71919;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #ff5555;
}
